body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

h1 {
  padding: 0px 50px;
}

input {
  accent-color: #673AB7;
}

fieldset {
  width: 560px;
  border: transparent;
  margin-left: -14px;
}

.general-container {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.btns-container {
  margin-top: 25px;
  gap: 12px;
  display: flex;
}

.get-btn {
  font-family: 'Montserrat', sans-serif;
  background-color: #673AB7;
  color: white;
  border: 2px solid #673AB7;
  border-radius: 4px;
  padding: 6px;
}

.clear-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: white;
  color: #42178d;
  border: 1.5px solid #673AB7;
  padding: 6px;
  border-radius: 4px;
  width: 65px;
}

.ask {
  width: 460px;
}

.plant__image {
  width: 215px;
  position: relative;
  top: 40px;
  left: 70px;
}

.image__position {
  margin-top: 135px;
  position: absolute;
  z-index: -1;
}

.plant-info {
  border: 2px solid #673AB7;
  width: 350px;
  position: absolute;
  left: 750px;
  top: 106px;
  border-radius: 6px;
}

.title__container {
  background-color: #673AB7;
  border-radius: 1px;
  margin-top: -16px;
  color: white;
  text-align: center;
}

.characteristics__container {
  background-color:#673AB7;
  margin-top: 100px;
  color: white;
  height: 135px;
  border-radius: 4px;
}

.plant__title {
  background-color: #673AB7;
  margin-bottom: 0px;
  color: white;
  padding: 15px;
  text-align: center;
}

.plant__details {
  background-color: #673AB7;
  margin-top: 35px;
  margin-bottom: 0px;
  color: white;
  padding: 20px;
}

.customize-btn {
  position: absolute;
  left: 115px;
  top: 625px;
  width: 120px;
  height: 35px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pot-container {
  display: flex;
  gap: 10px;
}

.blue-input {
  accent-color: #0b48d6;
}

.pink-input {
  accent-color: #c20a7b;
}

.pink-pot--margin {
  margin-left: 12px;
}

.green-input {
  accent-color: #00935d;
}

.pot__container--color {
  margin-bottom: 6px;
}

.subtitle-section {
  font-weight: 600;
}

.dropdown {
  width: 200px;
  height: 55px;
  padding: 10px;
  background-color: rgb(237, 237, 237);
  border: none;
  border-radius: 5px;
  color: #673AB7;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.option__dropdown {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

.extra__image {
width: 125px;
}